#root {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: greenyellow;

    nav {
        a {
            margin-left: 1rem;
        }
    }
}

.nav {
    &__link {
        color: black;
        text-decoration: none;
    }
    
}

.navbar {
    &__link {
        color: green;
    }
    
}

.itemContainerGreeting {
    font-weight: bold;
}

.item {
    width: fit-content;
    //border-style: solid;
}

.itemName {
    margin: 0 0 0 0;
}

.itemCountMgr {
    display: flex;
    flex-direction: row;
    top: 50%;
    left: 50%;
    align-items: center;
}

.itemDecrease, .itemIncremeant {
    box-sizing: border-box;
    border-radius: 3px;
    height: 1rem;
}

.itemCount {
    width: 100%;
    justify-content: center;
    margin: 0 0 0 0;
    text-align: center;
}

.itemList {
    list-style: none;
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
}

.itemList > .item {
    width: fit-content;
    border-style: solid;
    margin-right: 1rem;
}

.itemList > .item > .itemDetails {
    display: flex;
    flex-direction: column;
}

.itemList > .item > .itemTitle {
    text-align: center;
}

.itemList > .item > .itemDetails > .itemImage {
    max-width: 100%;
    height: auto;
}

.itemDetailContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.itemDetailContainer > .itemDetailImage {
    margin-right: 2rem;
}

.itemDetailContainer > .itemDetailDescription {
    padding: 0 0 0 0;
}

.itemDetailCategory {
    display: flex;
    flex-direction: row;
}

.itemDetailCategoryItem {
    margin-right: 1rem;
}